@use 'src/styles/vars';

.HeaderMobile {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: vars.$second;
  
  &--title, &--search , &--menu {
    font-weight: bold;
    text-align:left;
    font-size: vars.$fontSize;
    
  }
  &--menu, &--search {
    display: flex;
  }
  &--menu  {
    flex-direction: column;
    height: 100%;
  }
  &--Link {
    background-color: vars.$second;
    padding-top: 1rem;
    position: relative;

  }
  &--AllLink {
    display: none;
    width: 25vh;
    background-color: white;
    font-size: 1.5rem;
    font-style: oblique;
  }
  &--menu:hover > &--AllLink {
    display: flex;
    position: absolute; top: 4rem;
    flex-direction: column;
    
  }
  &--search:hover > .HeaderMobile-allFilter {
    display: initial;
    opacity: 1;
  }
  
  &--logo {
    
    position: relative; top: -1rem;
    background-size: cover;
 
  }
  &--picture {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    
  }
  

  &-allFilter {
    position: absolute;
    top: 6rem;  left: 0;
    background-color:whitesmoke;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    display: none;
    
    &-filter {
      width: 100%;
      position: relative; top: 1rem;
      display: flex;
      flex-direction: column;
      font-size: vars.$fontSize ;
      font-weight: bolder;
      border: brown solid 1px;
      text-align: center;
      background-color: wheat;
  
      &--title {
        font-size: vars.$fontSize;
        padding: 2rem   0;
        width: 100%;
        background-color: turquoise;
      }
        
      &--detail {
        text-align: left;
        width: 20%;
        padding : 1rem;
        font-size: vars.$fontSize;
        
      }
  
      &--picture {
      margin-right: 1rem;
      width: 2rem;
      }
    }
  }
}


